:root {
    --sidebar-size: 250px;
    --sidebar-size-hide: 70px;
}

/** Custom Bootstrap
*/

.bg-warning {
    background: #F59E0B !important;
}

/** Custom Bootstrap
 */

::-webkit-scrollbar {
    width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.avatar {
    font-size: 14px;
    font-weight: 400;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.avatar::after {
    content: attr(data-label);
    color: white;
}

* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: rgb(243 244 246);
}

#sidebarToggle-nav {
    display: none;
}

#sidebar {
    width: var(--sidebar-size);
    transition: all ease .3s;
    z-index: 100;
}


#page.hide #sidebar {
    width: var(--sidebar-size-hide);
    transition: all ease .3s;
}

#page.hide .content {
    margin-left: var(--sidebar-size-hide);
    transition: all ease .3s;
}

.content {
    margin-left: var(--sidebar-size);
    transition: all ease .3s;
}

aside header i {
    font-size: 20px;
    margin-top: 3px;
}

aside header a span {
    margin-left: .3rem;
    color: #111827;
    font-size: 16px;
    transition: all ease .3s;
}

aside.hide header a span {
    margin-left: -300px;
    transition: all ease .3s;
}

aside nav ul li a span {
    margin-left: 1.5rem;
    transition: all ease .3s;
}

aside.hide nav ul li a span {
    margin-left: -300px;
    transition: all ease .3s;
}

nav ul li a.active span {
    color: #FFFFFF;
}

nav ul li a.active svg {
    color: #FFFFFF;
}

nav ul li a.active i {
    color: #FFFFFF;
}

.nav-link:hover {
    background: rgb(0, 0, 0, 0.05);
    cursor: pointer;
}

.nav-link {
    font-size: 14px;
}

.navbar-collapse i {
    font-size: small;
    margin-top: 5px;
    transition: all ease .2s;
}

.navbar-collapse.show i {
    font-size: small;
    margin-bottom: 5px;
    rotate: -180deg;
    transition: all ease .2s;
}

.dropdown-item:hover {
    background: #F59E0B !important;
    color: #FFFFFF !important;
    border-radius: 8px;
}

@media (max-width: 767px) {

    #header {
        z-index: -1;
    }

    aside header a {
        font-size: 23px;
    }

    #sidebar {
        width: 250px;
        left: 0;
        transition: all ease 0.3s;
    }

    #page.hide #sidebar {
        width: 250px;
        left: -300px;
        transition: all ease .3s;
    }

    #page.hide .content {
        margin-left: 0;
    }

    .content {
        margin-left: 0;
        transition: all ease .3s;
    }

    #sidebarToggle {
        display: none;
    }

    #sidebarToggle-nav {
        display: block;
        font-size: 18px;
    }

    #page.hide #sidebarAssistance {
        background: rgba(0, 0, 0, 0.2);
        margin-left: -900px;
        height: 100vh;
        transition: all ease .3s;
    }

    #sidebarAssistance {
        background: rgba(0, 0, 0, 0.2);
        margin-left: auto;
        width: 800px;
        position: fixed;
        height: 100vh;
        transition: all ease .3s;
        z-index: 100;
    }
}




