<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a09b11b4b2.js"></script>
    <link href="custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
          rel="stylesheet">
    <title></title>
</head>

<body>
<div class="d-flex hide" id="page">
    <div id="sidebarAssistance"></div>
    <aside class="position-fixed bg-light border shadow vh-100 hide" id="sidebar">
        <header class="border-bottom p-2 mb-3">
            <button class="btn btn-sm btn-outline-primary border-0 rounded-circle mx-2"
                    id="sidebarToggle"
                    type="button">
                <i class="fa-solid fa-bars" id="icon-toggle"></i>
            </button>
            <a class="text-decoration-none" href="index.html">
                <span class="fw-bold">
                    Hanger App
                </span>
            </a>
        </header>

        <nav class="d-flex">
            <ul class="nav flex-column w-100">
                <li class="nav-item py-1">
                    <a class="nav-link d-flex align-items-center text-dark rounded-2 mx-2 py-2"
                       data-bs-placement="left" data-bs-title="Dashboard" data-bs-toggle="tooltip"
                       href="index.html">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item py-1">
                    <a class="nav-link d-flex align-items-center text-dark rounded-2 mx-2 py-2 active bg-warning"
                       data-bs-placement="left" data-bs-title="Supply" data-bs-toggle="tooltip" href="supply.html">
                        <i class="fa-solid fa-trailer"></i>
                        <span>Supply</span>
                    </a>
                </li>
                <li class="nav-item py-1">
                    <a class="nav-link d-flex align-items-center text-dark rounded-2 mx-2 py-2 "
                       data-bs-placement="left" data-bs-title="Schedule" data-bs-toggle="tooltip" href="schedule.html">
                        <i class="fa-solid fa-trailer"></i>
                        <span>Schedule</span>
                    </a>
                </li>
                <hr class="opacity-25 my-2 mx-2">
            </ul>
        </nav>
    </aside>

    <div class="content vw-100">
        <header class="sticky-top d-flex bg-light align-items-center shadow-sm mb-3" id="header"
                style="height: 51px">
            <button class="btn btn-sm btn-outline-primary border-0 rounded-circle mx-2"
                    id="sidebarToggle-nav"
                    type="button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="ms-auto">
                <div class="container-fluid d-grid gap-3 align-items-center">
                    <div class="d-flex align-items-center">
                        <form class="w-100 me-3" role="search">
                            <input aria-label="Search" class="form-control" placeholder="Search..." type="search">
                        </form>

                        <div class="flex-shrink-0">
                            <a aria-expanded="false" class="d-block link-dark text-decoration-none dropdown-toggle"
                               data-bs-toggle="dropdown" href="#">
                                <div class="avatar"
                                     data-label="MS"></div>
                            </a>
                            <ul class="dropdown-menu p-2 text-small shadow">
                                <li><a class="dropdown-item" href="#">Users</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--        main content-->
        <div class="container-fluid px-3 py-3">
            <div class="px-lg-5 px-sm-3 mb-4">
                <h1>LIST ITEM</h1>


            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 mb-3">

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <span class="fw-bold">Type : K2F</span>
                            </div>
                            <button class="btn btn-sm rounded bg-warning py-1 ms-auto shadow-lg"
                                    data-bs-placement="top"
                                    data-bs-target="#updateType"
                                    data-bs-title="Ubah Nama Type" data-bs-toggle="tooltip"
                                    onclick="modalPopUpType()">
                                <span>Ubah</span>
                            </button>
                        </li>
                        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <span class="fw-bold">Jumlah Item : 12</span>
                            </div>
                            <button class="btn btn-sm rounded bg-warning py-1 ms-auto shadow-lg"
                                    data-bs-placement="top"
                                    data-bs-target="#staticBackdrop"
                                    data-bs-title="Ubah Jumlah Type" data-bs-toggle="tooltip"
                                    onclick="modalPopUpQty()">
                                <span>Ubah</span>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 mb-3">
                    <form class="card rounded-3 shadow-lg">
                        <div class="card-header">
                            <h5 class="card-title"># Item</h5>
                        </div>
                        <div class="card-body p-2">

                            <table class="table text-center">
                                <thead class="text-primary">
                                <tr>
                                    <th class="col-1" scope="col">
                                        <button class="btn btn-sm btn-primary py-0 rounded-3" id="generate"
                                                type="button">
                                            <i class="fa-solid fa-list-ol"></i>
                                        </button>
                                    </th>
                                    <th scope="col">
                                        <svg class="bi bi-input-cursor-text" fill="currentColor" height="16"
                                             viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.165 4.165 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.49 3.49 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.165 4.165 0 0 1-2.06-.566A4.561 4.561 0 0 1 8 13.65a4.561 4.561 0 0 1-.44.285 4.165 4.165 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.49 3.49 0 0 0-.436-.294A3.166 3.166 0 0 0 5.5 2.5.5.5 0 0 1 5 2z"
                                                  fill-rule="evenodd"/>
                                            <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4v1zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4z"/>
                                        </svg>
                                    </th>
                                    <th scope="col">
                                        <svg class="bi bi-123" fill="currentColor" height="16"
                                             viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z"/>
                                        </svg>
                                    </th>
                                    <th class="text-danger" scope="col"><i class="fa-solid fa-trash"></i></th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                <tr>
                                    <td class="">
                                        <input class="form-control p-0 text-center order" id="numberOrder" name=""
                                               placeholder="0" required title="" type="number">
                                    </td>
                                    <td class="col-5">
                                        <input class="form-control p-0 text-center" id="name" name="" placeholder="..."
                                               required title="" type="text">
                                    </td>
                                    <td class="col-1">
                                        <input class="form-control p-0 text-center" id="qty" name="" placeholder="00"
                                               required title="" type="number">
                                    </td>
                                    <td class="col-2">
                                        <a class="link-danger" href="">Hapus</a>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal Type-->
            <div aria-hidden="true" aria-labelledby="updateTypeLabel" class="modal fade"
                 data-bs-backdrop="static" data-bs-keyboard="false"
                 id="updateType" tabindex="-1">
                <form>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="updateTypeLabel">Ubah Nama Type</h1>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">

                                <div class="form-floating mb-3">
                                    <input class="form-control" id="type" placeholder="Id Type"
                                           required type="text">
                                    <label for="type">ID Type</label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Batal
                                </button>
                                <button class="btn btn-primary" type="submit">Simpan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--            Modal Jumlah-->
            <div aria-hidden="true" aria-labelledby="updateQtyLabel" class="modal fade"
                 data-bs-backdrop="static" data-bs-keyboard="false"
                 id="updateQty" tabindex="-1">
                <form>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="updateQtyLabel">Ubah Jumlah Item</h1>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">

                                <div class="form-floating">
                                    <input class="form-control" id="floatingQty"
                                           min="1" placeholder="Quantity" required type="number">
                                    <label for="floatingQty">Quantity</label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Batal
                                </button>
                                <button class="btn btn-primary" type="submit">Simpan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--            end content-->
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>

<script>
    function modalPopUpType() {
        const modal = new bootstrap.Modal(document.getElementById('updateType'), {
            keyboard: false
        })
        modal.show()
    }

    function modalPopUpQty() {
        const modal = new bootstrap.Modal(document.getElementById('updateQty'), {
            keyboard: false
        })
        modal.show()
    }

    const generate = document.getElementById('generate');
    const id = document.querySelectorAll('.order');
    const makeArray = (count, content) => {
        const result = [];
        if (typeof content === "function") {
            for (let i = 0; i < count; i++) {
                result.push(content(i));
            }
        }
        return result;
    }
    generate.addEventListener('click', () => {
        makeArray(id.length, (i) => {
            return id[i].value = i + 1;
        });
    });
</script>
</body>
</html>