::-webkit-scrollbar {
    width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.avatar {
    font-size: 14px;
    font-weight: 400;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.avatar::after {
    content: attr(data-label);
    color: white;
}

* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: rgb(243 244 246);
}

body.active .page .sidebar {
    left: 0;
}

body.active .page .content {
    margin-left: 200px;
}

.page .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease .3s;
}

.page .content {
    margin-left: 0;
    transition: all ease .3s;
}

.brand-name {
    color: #111827;
}

.navigation-list {
    list-style-type: none;
    padding: 0 10px;
    margin-top: 20px;
}

.navigation-list-item {
    padding: 5px 1px 5px 15px;
    margin: 5px 0;
    border-radius: 8px;
}

.navigation-list-item:hover {
    background: rgb(0, 0, 0, 0.05);
    cursor: pointer;
}

.navigation-list-item.active {
    background: #F59E0B;
}


.navigation-list-collapse {
    color: #111827;
}

.navigation-list-collapse:hover {
    color: #F59E0B;
}

.navigation-link {
    color: #111827;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
}

.navigation-link i {
    font-size: 14px;
}

.navigation-list-collapse i {
    font-size: small;
    margin-top: 5px;
    transition: all ease .2s;
}

.navigation-list-collapse.show i {
    font-size: small;
    margin-bottom: 5px;
    rotate: -180deg;
    transition: all ease .2s;
}

.navigation-list-item:hover .navigation-link {
    color: #111827;
}

.navigation-list-item.active .navigation-link {
    color: #FFFFFF;
    font-weight: 400
}

.dropdown-item:hover {
    background: #F59E0B !important;
    color: #FFFFFF !important;
    border-radius: 8px;
}

.hamburger {
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0 0 10px;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.active:hover {
    opacity: 0.7;
}

.hamburger.active .hamburger-inner,
.hamburger.active .hamburger-inner::before,
.hamburger.active .hamburger-inner::after {
    background-color: #0d6efd;
}

.hamburger-box {
    width: 15px;
    height: 5px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -4px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 17px;
    height: 2px;
    background-color: #F59E0B;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: 12px;
}

.hamburger-inner::after {
    bottom: -6px;
    background-color: #0a53be;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.content header {
    position: sticky;
}