<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a09b11b4b2.js"></script>
    <link href="sidebars.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
          rel="stylesheet">
    <title></title>
</head>

<body>

<div class="page">
    <div class="sidebar bg-light shadow">
        <div class="d-flex px-2 border-bottom align-items-center p-2">
            <div class="rounded-3 shadow-lg py-2 px-2 text-primary mx-2">
                <i class="fa-solid fa-house"></i>
            </div>
            <a class="text-decoration-none" href="/admin">
                <span class="brand-name fw-bold">
                    Hanger App
                </span>
            </a>
        </div>

        <div class="sidebar-body">
            <ul class="navigation-list">
                <li class="navigation-list-item">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <svg class="bi bi-columns-gap" fill="currentColor" height="16" viewBox="0 0 16 16"
                                     width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
                                </svg>
                            </div>
                            <div class="col-9">
                                Dashboard
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item active">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-trailer"></i>
                            </div>
                            <div class="col-9">
                                Supply
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <svg class="bi bi-list-check" fill="currentColor" height="16" viewBox="0 0 16 16"
                                     width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"
                                          fill-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="col-9">
                                Laporan
                            </div>
                        </div>
                    </a>
                </li>
                <hr>
                <a aria-controls="collapseList" aria-expanded="false"
                   class="navigation-list-collapse text-decoration-none d-flex justify-content-between"
                   data-bs-toggle="collapse"
                   href="#collapseList" id="collapse-link" role="button">
                    <span class="mx-2">List Item</span>
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <div class="collapse" id="collapseList">
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="#">
                            <div class="row">
                                <div class="col-2">
                                    <svg class="bi bi-list-check" fill="currentColor" height="16" viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"
                                              fill-rule="evenodd"/>
                                    </svg>
                                </div>
                                <div class="col-9">
                                    Subjig
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <div class="content">
        <header class="d-flex bg-light align-items-center shadow-sm mb-3 sticky-top"
                style="height: 56px">
            <button class="hamburger hamburger--spin sidebarToggle " id="sidebarToggle"
                    type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
            </button>

            <div class="ms-auto">
                <div class="container-fluid d-grid gap-3 align-items-center">
                    <div class="d-flex align-items-center">
                        <form class="w-100 me-3" role="search">
                            <input aria-label="Search" class="form-control" placeholder="Search..." type="search">
                        </form>

                        <div class="flex-shrink-0 dropdown">
                            <a aria-expanded="false" class="d-block link-dark text-decoration-none dropdown-toggle"
                               data-bs-toggle="dropdown" href="#">
                                <div class="avatar"
                                     data-label="MS"></div>
                            </a>
                            <ul class="dropdown-menu p-2 text-small shadow">
                                <li><a class="dropdown-item" href="#">Users</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--        main content-->
        <div class="container-fluid px-5 py-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Supply</a></li>
                <li aria-current="page" class="breadcrumb-item active">K2F</li>
            </ol>
            <div class="mb-4">
                <h1>Buat Laporan Supply K2F</h1>
            </div>

            <form class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-4 order-md-last mb-3">
                        <div class="card rounded-3 shadow-lg">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <span>Tanggal dibuat</span><span class="badge text-bg-warning">12/09/2022</span>
                                </div>
                                <label class="form-label card-title " for="targetSet">Target Set</label>
                                <input class="form-control" id="targetSet" min="100" name="" type="number">
                            </div>
                        </div>
                    </div>

                    <div class="col-md">

                        <div class="card shadow-lg rounded-3 mb-2">
                            <div class="card-header border-bottom-0">
                                <span class="card-title"># Speedometer A</span>
                            </div>
                            <div class="card-body">
                                <div class="row g-1">
                                    <div class="col-4">
                                        <label for="1">Line A</label>
                                        <input class="form-control" id="1" name="" type="number">
                                    </div>
                                    <div class="col-4">
                                        <label for="2">Line B</label>
                                        <input class="form-control" id="2" name="" type="number">
                                    </div>
                                    <div class="col-4">
                                        <label for="3">Line C</label>
                                        <input class="form-control" id="3" name="" type="number">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary rounded-3 mt-3 px mx-2 shadow-lg">submit</button>
                            <button class="btn btn-secondary rounded-3 mt-3 shadow-lg">batal</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<script src="sidebars.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>